html,body{
    margin:0;
    height:100%;
}
#rectangle{
    width:400px;
    height:200px;
    background-color: #ccc;
}
#container{
    position:relative;
    height:100%;
}
#rectangle{
    position:relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}
.circle{
    width:100px;
    height:100px;
    background-color: #fc0;
    position:relative;
}
#circle1{
    left:-50px;
    top:-50px;
    border-radius: 0 0 50px 0;
}
#circle2{
    float:right;
    right:-50px;
    bottom:-50px;
    border-radius: 50px 0 0 0;
}