html,body{
    margin:0px;
}
#left{
    float:left;
    width:160px;
}
#right{
    float:right;
    width:80px;
}
#left,#right,#main,#all{
    border:1px solid #999;
    padding:20px;
}
#all{
    background-color: #eee;
    margin:20px;
    overflow:hidden;
}
#main{
    margin-left:220px;
    margin-right:140px;
}
.teamLogo{
    float:left;
    margin-right:20px;
}
.pLogo{
    margin-bottom:20px;
}
#lastLogo{
    margin-bottom:0;
}
#left,#right,#main{
    background-color: white;
}
